
body{
    background-color: rgb(50, 67, 71);
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.conteiner{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
}

.file_upload_label{
    margin-top: -1px;
    margin-bottom: -2px;
}

.opt_inp{
    text-align: center;
    font-size: xx-small;
}

.input_file{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    background-color: beige;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 1px;
}

.input_file::hover{
    cursor: pointer;
}

.play_sound_button{
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    background-color: rgb(60,
                          60, 
                          60);
    font-size: xx-large;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 50px lightblue;
    
    transition: .3s ease-in-out;
}

.play_sound_button:hover{
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 0px 10px lightblue;
    cursor: pointer;
    transform: translate(0px, 10px);
}

.play_sound_button:focus{
    animation: pressed 5s ease-in-out;
}

.upload_button{
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    background-color: rgb(60,
                          60, 
                          60);
    font-size: xx-large;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 50px lightblue;
    
    transition: .3s ease-in-out;
}

.upload_button:hover{
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 0px 10px lightblue;
    cursor: pointer;
    transform: translate(0px, 10px);
}

.upload_button:focus{
    animation: pressed 5s ease-in-out;
}






@keyframes pressed{
    0% {
        color: whitesmoke;
    }
    15% {
        color: aqua;
    }
    60% {
        color: aqua;
    } 75% {
        color: whitesmoke;
    } 100% {
        color: whitesmoke;
    }
}